body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1, h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 200px;
}

p {
  font-weight: bold;
  margin-top: 10px;
}

.cub-details {
  text-align: center;
}

.cub-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.gender-color {
  font-weight: bold;
}

.mutation {
  font-weight: bold;
  color: #FF5733; /* Change the color based on your preference */
}

.traits {
  font-weight: bold;
  color: #1E90FF; /* Change the color based on your preference */
}
